/*!
 * Start Bootstrap - SB Admin v4.0.0-alpha (http://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */


 /*for the badge*/

 .badge-outline {
    color: #DC3826;
    border: 2px solid #DC3826;
    background-color: transparent;
    position: absolute;
    right: 70px;
    top: 15px;
    border-radius: 11px;
}

/*background of top nav bar*/
body {
  background: #292b2c; }

/*padding for nav bar*/
body.fixed-nav {
  padding-top: 54px; }
  @media (min-width: 992px) {
    body.fixed-nav {
      padding-top: 56px; } }

/*wrapper for the column */
.content-wrapper {
  background: white; }
  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 230px; } }


.o-hidden {
  overflow: hidden !important; }

/*card colums for different medis*/

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; } }

@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; } }



.navbar-inverse input.form-control {
  border-color: #eceeef; }

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse:after {
    font-family: 'FontAwesome';
    float: right;
    content: '\f107';
    color: #464a4c; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse.collapsed:after {
    content: '\f105'; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level,
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level {
    padding-left: 0; }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a,
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a {
      display: block;
      padding: .5em 0;
      color: #636c72; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:hover,
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a:focus,
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a:hover {
        text-decoration: none;
        color: #eceeef; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a {
    padding-left: 1em; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a {
    padding-left: 2em; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    min-width: 45px; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      font-family: 'FontAwesome';
      float: right;
      width: auto;
      content: '\f105';
      color: #464a4c;
      border: none; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .new-indicator {
      font-size: 1.1rem;
      position: absolute;
      top: 0;
      right: 25px; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .new-indicator .number {
        font-size: .5rem;
        position: absolute;
        top: 6px;
        left: 0;
        width: 22.625px;
        text-align: center;
        color: white; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107'; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis; }

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px; }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none; }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav {
      position: absolute;
      top: 0;
      left: 0;
      overflow: auto;
      flex-direction: column;
      height: 100vh;
      margin-top: 150px;
      /*margin-left: -70px;*/
      padding-bottom: 56px;
      background: transparent;
      -webkit-flex-direction: column;
      -ms-flex-direction: column; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item {
        width: 250px;
        padding: 0; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item > .nav-link {
        font-weight: 100;
        font-family: sans-serif;
        font-size: 0.8rem;
        padding: 1rem 7rem 1rem 0rem;}
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item > .nav-link.active {
        background-color: #2E2E2E;
        /*border-radius: 2rem;*/
        /*padding: 1rem 2rem 1rem 0rem;*/
        margin-right: 1.3rem}
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level,
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level {
          padding-left: 0;
          list-style: none;
          background: #292b2c; }
          #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li,
          #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li {
            width: 250px; }
            #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a,
            #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li > a {
              padding: 1em; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a {
          padding-left: 2em; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li > a {
          padding-left: 3em; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a {
        /*color: white;
        background-color: #464a4c;*/ }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:hover, #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:focus {
          color: white; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        width: 24px;
        text-align: center; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px; } }

