
/*column alignments */

.colAlignment{
	padding:0rem;
	display:inline-block
}

.col-md-4{
	vertical-align: top;
}
/*to fill the width full or 80% */
.fill{
	width:100%;
}
#doc_type{
	margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 3px;
    background-color: #e7e7e7;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.05);
}
.input-80{
	width:80%;
}
/*styling of text for differnt types of heading*/
.heading-bg{
	background-color: #E5E5E5;
	width:100%;
	padding:0.2rem 0rem 0.1rem 1.2rem;
	margin-bottom: 1rem;
	font-family:sans-serif;
	font-weight: 500;
	letter-spacing: 0.2rem;
}
.heading-right{
	padding-top: 20px;
	width:100%;
	text-align:right;
	font-size:25px;
	font-family: sans-serif;
	font-weight:100;
	letter-spacing: 0.1rem;
}


/*default padding and margin for row for merchants page*/
.row{
	padding-left:2rem;
	padding-right:0.5rem;
	padding-bottom:0rem;
	padding-top:0rem;
	margin-bottom: 0rem;
}



/*margins for different elements*/
label{
	padding-left: 0.2rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 0.25;
    letter-spacing: 0.6px;
    color: #313131;
    font-weight: 500;

}

.
.form-group{
	margin-bottom: 0rem;
}
.margin-top{
	margin-top:1rem;
}

#merchant_id{
	font-family: sans-serif;
}

.button.yellow{
	border-radius: 3px;
    background-color: #eb9b1c;
    box-shadow: 0 16px 39.6px 0.4px rgba(0, 0, 0, 0.2)
}

.button.yellow.small{
	font-size:10px;
}

.button.red{
	display:block;
	float:right;
	border: none;
	box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.13);
}

.merchantid{
	font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: #626262;
    font-weight: 100;
}